NymphCast

Requirements

Author: Maya Posch
Date:	2019/01/30
---

> Overview <

NymphCast is intended to be a software solution and specification for an audio and video streaming platform that attaches to a TV or speaker. NymphCast clients can control the content playing on the NymphCast receiver, or stream content to said receiver.

Receivers can support audio, video, or both.

The protocol used consists out of RPC calls implemented using the NymphRPC library, with optional encryption.


> Server <

* Audio/Video:
	. Accept connection from client.
	. Accept session from client, send session parameters to client.
	. Receive session meta data.
	. Accept buffers containing media data.
	. Play back media data.
	. Stop current session.
	
> Client <

* Audio/Video:
	. Connect to server.
	. Start session, receive session parameters.
	. Send session meta data.
	. Send buffers with media data to server.
	. Stop playback.
	. End session.
	. Terminate connection.
	

> API <

Structures:
struct SessionParams {
	int max_buffer;
};

* Connect:
	. bool connect(string client_id)
	. bool disconnect(string client_id)
	
* Audio:
	. SessionParams session_start()
	. uint8 session_meta(string artist, string album, uint32 track, string name)
	. uint8 session_data(string buffer)
	. uint8 session_end()
	