<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>

  <name replace-wildcards="yes">NymphCast on %h</name>

  <service>
    <type>_nymphcast._tcp</type>
    <port>4004</port>
  </service>

</service-group>
