*{
  color: #ffffff;
  font-family: Roboto;
  line-height: ;
  font-size: ;
  selection-background-color: #6effe8;
  selection-color: #000000;
}

.danger{
  color: #dc3545;
}

QPushButton.danger:flat:hover {
  background-color: rgba(220, 53, 69, 0.2);
}

QPushButton.danger:flat:pressed,
QPushButton.danger:flat:checked {
  background-color: rgba(220, 53, 69, 0.1);
  color: #dc3545;
}

.warning{
  color: #ffc107;
}

QPushButton.warning:flat:hover {
  background-color: rgba(255, 193, 7, 0.2);
}

QPushButton.warning:flat:pressed,
QPushButton.warning:flat:checked {
  background-color: rgba(255, 193, 7, 0.1);
  color: #ffc107;
}
.success{
  color: #17a2b8;
}

QPushButton.success:flat:hover {
  background-color: rgba(23, 162, 184, 0.2);
}

QPushButton.success:flat:pressed,
QPushButton.success:flat:checked {
  background-color: rgba(23, 162, 184, 0.1);
  color: #17a2b8;
}

QWidget {
  background-color: #31363b;
}

QFrame {
  background-color: #31363b;
  border: 1px solid #232629;
  border-radius: 4px;
}

QSplitter {
  background-color: transparent;
  border: none
}

QStatusBar {
  color: #ffffff;
  background-color: rgba(79, 91, 98, 0.2);
  border-radius: 0px;
}

QSizeGrip {
  image: url(:/icons/primary/sizegrip.svg);
  background-color: transparent;
  width: 16px;
  height: 16px;
}

QDateTimeEdit,
QSpinBox,
QDoubleSpinBox,
QTextEdit,
QLineEdit,
QPushButton {
  color: #1de9b6;
  background-color: #31363b;
  border: 1px solid #1de9b6;
  border-radius: 4px;
  padding: 8px 16px ;
  height: 18px;
}

QDateTimeEdit:disabled,
QSpinBox:disabled,
QDoubleSpinBox:disabled,
QTextEdit:disabled,
QLineEdit:disabled {
  color: rgba(29, 233, 182, 0.2);
  background-color: rgba(35, 38, 41, 0.75);
  border: 2px solid rgba(29, 233, 182, 0.2);
}

QComboBox {
  color: #1de9b6;
  background-color: #31363b;
  border: 1px solid #1de9b6;
  border-radius: 4px;
  height: 36px;
}

QComboBox:disabled {
  color: rgba(29, 233, 182, 0.2);
  background-color: rgba(35, 38, 41, 0.75);
  border-bottom: 2px solid rgba(29, 233, 182, 0.2);
}

QDateTimeEdit,
QSpinBox,
QDoubleSpinBox,
QTreeView,
QListView,
QLineEdit,
QComboBox {
  color: #1de9b6;
  padding-left: 15px;
  border-radius: 0px;
  background-color: #232629;
  border-width: 0 0 2px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

QPlainTextEdit {
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #31363b;
  border: 1px solid #232629;
}

QDateTimeEdit:disabled,
QSpinBox:disabled,
QDoubleSpinBox:disabled,
QTextEdit:disabled,
QLineEdit:disabled {
  color: rgba(29, 233, 182, 0.2);
  background-color: rgba(35, 38, 41, 0.75);
  border: 2px solid rgba(29, 233, 182, 0.2);
  border-width: 0 0 2px 0;
  border-radius: 4px;
  padding: 8px 16px ;
  /*font-weight: bold;*/
}

QComboBox[frame='false'] {
  color: #1de9b6;
  background-color: transparent;
  border: 1px solid transparent;
}

QHeaderView::section {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  background-color: #232629;
  border-radius: 0px;
  padding: 0 20px;
  height: 35px;
}

QTextEdit {
  padding: 8px;
  border-radius: 4px;
  background-color: #232629;
}

QComboBox::drop-down {
  border: none;
  color: #1de9b6;
  width: 20px;
}

QComboBox::down-arrow {
  image: url(:/icons/primary/downarrow.svg);
  margin-right: 10px;
}

QComboBox::down-arrow:disabled {
  image: url(:/icons/disabled/downarrow.svg);
  margin-right: 10px;
}

QComboBox QAbstractItemView {
  background-color: #232629;
  border: 2px solid #4f5b62;
  border-radius: 2px;
}

QDateTimeEdit::up-button,
QDoubleSpinBox::up-button,
QSpinBox::up-button {
  subcontrol-origin: border;
  subcontrol-position: top right;
  width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  image: url(:/icons/primary/uparrow.svg);
  border-width: 0px;
  margin-right: 5px;
}

QDateTimeEdit::up-button:disabled,
QDoubleSpinBox::up-button:disabled,
QSpinBox::up-button:disabled {
  image: url(:/icons/disabled/uparrow.svg);
}

QDateTimeEdit::down-button,
QDoubleSpinBox::down-button,
QSpinBox::down-button {
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  width: 20px;
  image: url(:/icons/primary/downarrow.svg);
  border-width: 0px;
  border-top-width: 0;
  margin-right: 5px;
}

QDateTimeEdit::down-button:disabled,
QDoubleSpinBox::down-button:disabled,
QSpinBox::down-button:disabled {
  image: url(:/icons/disabled/downarrow.svg);
}

QPushButton {
  text-transform: uppercase;
  margin: 0px;
  padding: 0px 16px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
  font-weight: bold;
}

QPushButton:checked,
QPushButton:pressed {
  color: #31363b;
  background-color: #1de9b6;
}

QPushButton:flat {
  padding: 5px;
  margin: 0px;
  color: #1de9b6;
  border: none;
  background-color: transparent;
}

QPushButton:flat:hover {
  background-color: rgba(29, 233, 182, 0.2);
}

QPushButton:flat:pressed,
QPushButton:flat:checked {
  background-color: rgba(29, 233, 182, 0.1);
}

QPushButton:disabled,
QPushButton:flat:disabled {
  color: rgba(79, 91, 98, 0.75);
  background-color: transparent;
  border-color:  #232629;
}

QPushButton:disabled {
  border: 2px solid rgba(79, 91, 98, 0.75);
}

QPushButton:checked:disabled {
  color: #232629;
  background-color: #4f5b62;
  border-color:  #4f5b62;
}

QTabWidget::pane {
}

QTabWidget::tab-bar {
}

QScrollArea,
QStackedWidget,
QWidget > QToolBox,
QToolBox > QWidget,
QTabWidget > QWidget {
  border: none;
}

QTabBar{
  text-transform: uppercase;
  font-weight: bold;
}

QTabBar::tab {
  color: #ffffff;
  border: 0px;
}

QTabBar::tab:bottom,
QTabBar::tab:top{
  padding: 0 15px;
  height: 30px;
}

QTabBar::tab:left,
QTabBar::tab:right{
  padding: 15px 0;
  width: 30px;
}

QTabBar::tab:top:selected,
QTabBar::tab:top:hover {
  color: #1de9b6;
  border-bottom: 2px solid #1de9b6;
}

QTabBar::tab:bottom:selected,
QTabBar::tab:bottom:hover {
  color: #1de9b6;
  border-top: 2px solid #1de9b6;
}

QTabBar::tab:right:selected,
QTabBar::tab:right:hover {
  color: #1de9b6;
  border-left: 2px solid #1de9b6;
}

QTabBar::tab:left:selected,
QTabBar::tab:left:hover {
  color: #1de9b6;
  border-right: 2px solid #1de9b6;
}

QTabBar QToolButton:hover,
QTabBar QToolButton {
  border: 20px;
  background-color: #31363b;
}

QTabBar QToolButton::up-arrow {
  image: url(:/icons/disabled/uparrow2.svg);
}

QTabBar QToolButton::up-arrow:hover {
  image: url(:/icons/primary/uparrow2.svg);
}

QTabBar QToolButton::down-arrow {
  image: url(:/icons/disabled/downarrow2.svg);
}

QTabBar QToolButton::down-arrow:hover {
  image: url(:/icons/primary/downarrow2.svg);
}

QTabBar QToolButton::right-arrow {
  image: url(:/icons/primary/rightarrow2.svg);
}

QTabBar QToolButton::right-arrow:hover {
  image: url(:/icons/disabled/rightarrow2.svg);
}

QTabBar QToolButton::left-arrow {
  image: url(:/icons/primary/leftarrow2.svg);
}

QTabBar QToolButton::left-arrow:hover {
  image: url(:/icons/disabled/leftarrow2.svg);
}

QTabBar::close-button {
  image: url(:/icons/disabled/tab_close.svg);
}

QTabBar::close-button:hover {
  image: url(:/icons/primary/tab_close.svg);
}

QGroupBox {
  background-color: #232629;
  border-radius: 4px;
  padding: 15px;
  padding-top: 30px;
  line-height: 13px;
  text-transform: uppercase;
}

QGroupBox::title {
  color: rgba(255, 255, 255, 0.4);
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding: 0 15px;
  margin-top: 10px;
  background-color: #31363b;
  background-color: transparent;
  height: 20px;
  border-radius: 8px;
}

QRadioButton,
QCheckBox {
  spacing: 10px;
  color: #ffffff;
  line-height: 14px;
  height: 30px;
  background-color: transparent;
  spacing: 5px;
}

QRadioButton:disabled,
QCheckBox:disabled {
  color: rgba(255, 255, 255, 0.3);
}

QMenu::indicator,
QListView::indicator,
QTableWidget::indicator,
QRadioButton::indicator,
QCheckBox::indicator {
  width: 24px;
  height: 24px;
  border-radius: 4px;
 }

QCheckBox::indicator:checked,
QTableWidget::indicator:checked {
  image: url(:/icons/primary/checkbox_checked.svg);
}

QListView::indicator:checked {
  image: url(:/icons/primary/checklist.svg);
}

QCheckBox::indicator:unchecked,
QTableView::indicator:unchecked {
  image: url(:/icons/primary/checkbox_unchecked.svg);
}

QListView::indicator:unchecked {
  image: url(:/icons/primary/checklist.svg);
}

QCheckBox::indicator:indeterminate,
QTableView::indicator:indeterminate {
  image: url(:/icons/primary/checkbox_indeterminate.svg);
}

QListView::indicator:indeterminate {
  image: url(:/icons/primary/checklist_indeterminate.svg);
}

QCheckBox::indicator:checked:disabled,
QTableView::indicator:checked:disabled {
  image: url(:/icons/disabled/checkbox_checked.svg);
}

QListView::indicator:checked:disabled {
  image: url(:/icons/disabled/checklist.svg);
}

QCheckBox::indicator:unchecked:disabled,
QTableView::indicator:unchecked:disabled {
  image: url(:/icons/disabled/checkbox_unchecked.svg);
}

QListView::indicator:unchecked:disabled {
  image: url(:/icons/disabled/checklist.svg);
}

QCheckBox::indicator:indeterminate:disabled,
QTableView::indicator:indeterminate:disabled {
  image: url(:/icons/disabled/checkbox_indeterminate.svg);
}

QListView::indicator:indeterminate:disabled {
  image: url(:/icons/disabled/checklist_indeterminate.svg);
}

QRadioButton::indicator:checked {
  image: url(:/icons/primary/radiobutton_checked.svg);
}

QRadioButton::indicator:unchecked {
  image: url(:/icons/primary/radiobutton_unchecked.svg);
}

QRadioButton::indicator:checked:disabled {
  image: url(:/icons/disabled/radiobutton_checked.svg);
}

QRadioButton::indicator:unchecked:disabled {
  image: url(:/icons/disabled/radiobutton_unchecked.svg);
}

QDockWidget {
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #232629;
  titlebar-close-:/icons url(:/icons/primary/close.svg);
  titlebar-normal-:/icons url(:/icons/primary/float.svg);
  border-radius: 4px;
}

QDockWidget::title {
  text-align: left;
  padding-left: 35px;
  padding: 3px;
  margin-top: 4px;
}

QCalendarWidget QMenu,
QMenu {
  background-color: #232629;
  border: 2px solid #4f5b62;
  border-radius: 2px;
  margin-top: 3px;
}

QComboBox::indicator:checked {
  image: url(:/icons/primary/checklist.svg);
}

QComboBox::indicator:hover:checked {
  image: url(:/icons/disabled/checklist.svg);
}

QComboBox::item,
QCalendarWidget QMenu::item,
QMenu::item {
  height: 26px;
  border: 8px solid transparent;
  color: #ffffff;
}

QCalendarWidget QMenu::item,
QMenu::item {
  padding: 0px 25px 0px 20px;
}

QComboBox::item:selected,
QCalendarWidget QMenu::item:selected,
QMenu::item:selected {
  color: #000000;
  background-color: #6effe8;
  border-radius: 4px;
}

QComboBox::item:disabled,
QCalendarWidget QMenu::item:disabled,
QMenu::item:disabled {
  color: rgba(255, 255, 255, 0.3);
}

QMenu::separator {
  height: 2px;
  background-color: #4f5b62;
  margin-left: 2px;
  margin-right: 2px;
}

QMenu::right-arrow{
  image: url(:/icons/primary/rightarrow.svg);
  width: 15px;
  height: 15px;
}

QMenu::right-arrow:selected{
  image: url(:/icons/disabled/rightarrow.svg);
}

QMenu::indicator:non-exclusive:unchecked {
  image: url(:/icons/primary/checkbox_unchecked.svg);
}

QMenu::indicator:non-exclusive:unchecked:selected {
  image: url(:/icons/primary/checkbox_unchecked.svg);
}

QMenu::indicator:non-exclusive:checked {
  image: url(:/icons/primary/checkbox_checked.svg);
}

QMenu::indicator:non-exclusive:checked:selected {
  image: url(:/icons/primary/checkbox_checked.svg);
}

QMenu::indicator:exclusive:unchecked {
  image: url(:/icons/primary/radiobutton_unchecked.svg);
}

QMenu::indicator:exclusive:unchecked:selected {
  image: url(:/icons/primary/radiobutton_unchecked.svg);
}

QMenu::indicator:exclusive:checked {
  image: url(:/icons/primary/radiobutton_checked.svg);
}

QMenu::indicator:exclusive:checked:selected {
  image: url(:/icons/primary/radiobutton_checked.svg);
}

QMenuBar {
  background-color: #232629;
  color: #ffffff;
}

QMenuBar::item {
  height: 30px;
  padding: 8px;
  background-color: transparent;
  color: #ffffff;
}

QMenuBar::item:selected,
QMenuBar::item:pressed {
  color: #000000;
  background-color: #6effe8;
}

QToolBox::tab {
  background-color: #232629;
  color: #ffffff;
  padding-left: 15px;
  text-transform: uppercase;
  border-radius: 2px;
}

QToolBox::tab:hover {
  background-color: rgba(29, 233, 182, 0.2);
}

QProgressBar {
  border-radius: 0;
  background-color: #4f5b62;
  text-align: center;
  color: transparent;
}

QProgressBar::chunk {
  background-color: #1de9b6;
}

QScrollBar:horizontal {
  border: 0;
  background: #232629;
  height: 8px;
}

QScrollBar:vertical {
  border: 0;
  background: #232629;
  width: 8px;
}

QScrollBar::handle:horizontal {
  background: #4f5b62;
  min-width: 20px;
}

QScrollBar::handle:vertical {
  background: #4f5b62;
  min-height: 20px;
}

QScrollBar::handle:vertical:hover,
QScrollBar::handle:horizontal:hover {
  background: #1de9b6;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
  border: 0;
  background: transparent;
  width: 0px;
  height: 0px;
}

QSlider:horizontal {
  min-height: 20px;
  max-height: 20px;
}

QSlider:vertical {
  min-width: 20px;
  max-width: 20px;
}

QSlider::groove:horizontal {
  height: 4px;
  background: #393939;
  margin: 0 10px;
}

QSlider::groove:vertical {
  width: 4px;
  background: #393939;
  margin: 10px 0;
  border-radius: 20px;
}

QSlider::handle:horizontal {
  image: url(:/icons/primary/slider.svg);
  width: 20px;
  height: 20px;
  margin: -20px -10px;
}

QSlider::handle:vertical {
  image: url(:/icons/primary/slider.svg);
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: -10px -20px;
}

QSlider::add-page {
background: #232629;
}

QSlider::sub-page {
background: #1de9b6;
}

QLabel {
  border: none;
  background: transparent;
  color: #ffffff
}

QLabel:disabled {
  color: rgba(255, 255, 255, 0.2)
}

QFrame[frameShape="4"] {
    border-width: 1px 0 0 0;
    background: none;
}

QFrame[frameShape="5"] {
    border-width: 0 1px 0 0;
    background: none;
}

QFrame[frameShape="4"],
QFrame[frameShape="5"] {
  border-color: #4f5b62;
}

QMdiArea{
}

QMdiSubWindow{
}

QMdiSubWindow:title{
}

QMainWindow::separator:vertical,
QSplitter::handle:horizontal {
  image: url(:/icons/primary/splitter-horizontal.svg);
}

QMainWindow::separator:horizontal,
QSplitter::handle:vertical {
  image: url(:/icons/primary/splitter-vertical.svg);
}

QToolBar {
  background: #31363b;
  border: 0px solid;
}

QToolBar:horizontal {
  border-bottom: 1px solid #4f5b62;
}

QToolBar:vertical {
  border-right: 1px solid #4f5b62;
}

QToolBar::handle:horizontal {
  image: url(:/icons/primary/toolbar-handle-horizontal.svg);
}

QToolBar::handle:vertical {
  image: url(:/icons/primary/toolbar-handle-vertical.svg);
}

QToolBar::separator:horizontal {
  border-right: 1px solid #4f5b62;
  border-left: 1px solid #4f5b62;
  width: 1px;
}

QToolBar::separator:vertical {
  border-top: 1px solid #4f5b62;
  border-bottom: 1px solid #4f5b62;
  height: 1px;
}

QToolButton {
  background: #31363b;
  border: 0px;
  height: 40px;
  margin: 0px;
  padding: 5px;
  border-right: 10px solid #31363b;
  border-left: 10px solid #31363b;
}

QToolButton:hover {
  background: #4f5b62;
  border-right: 10px solid #4f5b62;
  border-left: 10px solid #4f5b62;
}

QToolButton:pressed {
  background: #232629;
  border-right: 10px solid #232629;
  border-left: 10px solid #232629;
}

QToolButton:checked {
  background: #4f5b62;
  border-left: 10px solid #4f5b62;
  border-right: 10px solid #1de9b6;
}

QAbstractScrollArea {
}

QTableView {
  background-color: #31363b;
  border: 1px solid #232629;
  border-radius: 4px;
}

QTreeView,
QListView {
  border-radius: 4px;
  padding: 5px;
  margin: 0px;
}

QTableView:item,
QTreeView::item,
QListView::item {
  padding: 5px;
  min-height: 25px;
  color: #ffffff;
}

QTableView::item:selected,
QTreeView::item:disabled,
QListView::item:selected {
  color: #000000;
}

QTableView::item:disabled,
QTreeView::item:disabled,
QListView::item:disabled{
  color: rgba(255, 255, 255, 0.3);
}

QTableCornerButton::section {
  background-color: #31363b;
}

QTreeView::branch{
  background-color: #232629;
}

QTreeView::branch:closed:has-children:has-siblings,
QTreeView::branch:closed:has-children:!has-siblings {
  image: url(:/icons/primary/branch-closed.svg);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
  image: url(:/icons/primary/branch-open.svg);
}

QTreeView::branch:has-siblings:!adjoins-item {
  border-image: url(:/icons/disabled/vline.svg) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/icons/disabled/branch-more.svg) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item,
QTreeView::branch:has-children:!has-siblings:adjoins-item {
    border-image: url(:/icons/disabled/branch-end.svg) 0;
}

QPushButton.danger {
  border-color: #dc3545;
  color: #dc3545;
}

QPushButton.danger:checked,
QPushButton.danger:pressed {
  color: #31363b;
  background-color: #dc3545;
}

QPushButton.warning{
  border-color: #ffc107;
  color: #ffc107;
}

QPushButton.warning:checked,
QPushButton.warning:pressed {
  color: #31363b;
  background-color: #ffc107;
}

QPushButton.success {
  border-color: #17a2b8;
  color: #17a2b8;
}

QPushButton.success:checked,
QPushButton.success:pressed {
  color: #31363b;
  background-color: #17a2b8;
}

QTableView > QHeaderView::section {
  border-right: 2px solid #4f5b62;
}

QTableView > QHeaderView::section:last {
  border-right: 2px solid #232629;
}

QTableView {
  alternate-background-color: rgba(35, 38, 41, 0.7);
}

QLCDNumber {
  color: #1de9b6;
  background-color:rgba(29, 233, 182, 0.1);
  border: 1px solid rgba(29, 233, 182, 0.3);
  border-radius: 2px;
}

#qt_calendar_prevmonth {
    qproperty-:/icons url(:/icons/primary/leftarrow.svg);
}

#qt_calendar_nextmonth {
  qproperty-:/icons url(:/icons/primary/rightarrow.svg);
}

QToolTip {
  padding: 5px;
  border: 1px solid #31363b;
  border-radius: 2px;
  color: #ffffff;
  background-color: #4f5b62;
}

QTreeView QLineEdit,
QTableView QLineEdit,
QListView QLineEdit {
  color: #ffffff;
  background-color: #232629;
  border: 1px solid unset;
  border-radius: unset;
  padding: unset;
  padding-left: unset;
  height: unset;
  border-width: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

QDialog QToolButton,
QDialog QToolButton:hover,
QDialog QToolButton:pressed,
QDialog QToolButton:checked {
  background-color: unset;
  border: 0px;
  height: unset;
  margin: unset;
  padding: unset;
  border-right: unset;
  border-left: unset;
}