/*
	default.css - Default theme for the NymphCast Player application.
	
	2020/03/14, Maya Posch
*/


QMainWindow {
	background-color: white;
	padding: 0px;
	margin: 0xp;
}


QWidget {
	spacing: 3;
	padding: 0px;
	margin: 0xp;
}


QTabBar::tab {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}


QPushButton {
	background-color: white;
	border-style: outset;
	border-width: 1px;
	border-radius: 5px;
	border-color: black;
	padding: 5px;
}


QPushButton:pressed {
	background-color: grey;
	border-style: inset;
}


QToolButton {
	
}
