[Unit]
Description=NymphCast audio/video casting server

[Service]
ExecStart=@BIN@ -c @CONFIG@ -a @APPS@ -w @WALLPAPERS@
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
