[Unit]
Description=NymphCast audio/video casting server

[Service]
ExecStart=/opt/nymphcast/nymphcast_server -c /opt/nymphcast/nymphcast_config.ini
User=pi
WorkingDirectory=/opt/nymphcast
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target